/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* common */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* contents */
#container {
  width: 600px;
  margin: 50px auto;
  padding: 10px 20px;

  #bookInfo {
    margin: 20px 0 10px;

    li {
      font-size: 1.8rem;
      margin-bottom: 20px;

      label {
        display: inline-block;
        width: 50px;
      }

      input[type="text"] {
        width: 450px;
        padding: 8px;
        &:focus {
          outline: none;
        }
      }
    }
  }

  .btn {
    width: 150px;
    margin: 20px 55px;
    padding: 8px 10px;
    font-size: 1.6rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  #booklist {
    width: 520px;
    padding: 10px;

    li {
      font-size: 1.6rem;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      position: relative;
      top: -4px;

      span {
        position: absolute;
        top: -5px;
        right: 10px;
        display: inline-block;
        background: #f82222;
        color: #fff;
        padding: 6px 12px;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}
