/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* content */
#container {
  width: 550px;
  margin: 100px auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin-bottom: 20px;
  }
  form {
    width: 100%;
    label {
      margin-right: 20px;
      input[type="text"] {
        width: 80px;
        height: 30px;
        border: none;
        border-bottom: 1px solid #ccc;
      }
      input[type="button"] {
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
      }
    }
  }
  #result {
    width: 400px;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    p {
      font-size: 20px;
      line-height: 140%;
      .accent {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
