/* reset */
* {
  margin: 0;
  overflow: 0;
  box-sizing: border-box;
}

/* contents */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./images/bg-1.jpg") center/cover no-repeat;
}

#container {
  width: 550px;
  background: rgba(255, 255, 255, 0.6);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 8px black;
}