/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* common */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contents */
.slide_wrapper {
  width: 660px;
  height: 200px;
  // 기준이 되니까 position : relaive
  position: relative;
  // 넘어가는 거 방지
  overflow: hidden;
  .slides {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    &.animated {
      transition: all 0.3s;
    }
    li {
      width: 200px;
      height: 200px;
      background: #ccc;
      // 내부 간격 30px, 맨 마지막은 여백 필요 x
      // li 요소의 마지막번 째를 제외한 다른 요소들만 margin-right : 30px
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

// 버튼 요소
.controls {
  margin-top: 30px;
  text-align: center;
  span {
    background: #333;
    color: #fff;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
}
