@mixin buttonstyle {
  width: 100%;
  height: 12px;
}

body {
  main {
    header {
      text-align: center;

      #kakao {
        padding: 10px 50px;
        background: yellow;
        border-radius: 5px;
      }
    }
  }
}
