/* color */
$color: (
  main-light-color: #fff,
  main-dark-color: #000,
  main-font-color: #222,
  sub-font-color: #999,
  content-bg-color: #ddd,
  button-bg-color: #bbb,
  button-sub-color: #31c0ce,
  awards-bg-color: #1a1f24,
  vars-bg-color: #dc143c,
);

/* font-family */
$fontFamily: (
  mont-font-family: "Montserrat",
  manrope-font-family: "Manrope",
  Sans-font-family: "Source Sans 3",
  over-font-family: "Overpass",
);
