:root {
  --main-light-color: #fff;
  --main-dark-color: #000;
  --lnb-font-color: #ddd;
  --em-font-color: #bbb;
  --hover-font-color: #333;
  --btn-font-color: #c25a3a;
  --Montserrat-font-family: "Montserrat", serif;
}
