/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* color */
$color: (
  dark: #000,
  light: #fff,
  accent: #dc143c,
);

/* common */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: map-get($map: $color, $key: dark);
  color: map-get($map: $color, $key: light);
}

/* content */
#music-player {
  width: 80%;
  // 반응형 : max/min width
  max-width: 550px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  video {
    width: 100%;
  }
  .controls {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.6);
    transform: translateY(100%) translateY(-6px);
    transition: transform 0.5s;
    .progress {
      width: 100%;
      height: 6px;
      background: rgba($color: #fff, $alpha: 0.2);
      position: absolute;
      top: 0;
      left: 0;
      .bar {
        width: 0;
        height: 100%;
        // 아래 값은 스크립트 > style속성으로(Dom > node값으로 찾아와서)
        background: map-get($map: $color, $key: accent);
        position: relative;
        .circle {
          width: 16px;
          height: 16px;
          background: map-get($map: $color, $key: accent);
          position: absolute;
          top: 50%;
          left: 0;
          border-radius: 50%;
          transform: translateY(-50%);
          opacity: 0;
          transition: opacity 0.5s;
          cursor: pointer;
        }
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;
      padding: 0 10px;
      .menu {
        display: flex;
        align-items: center;
        gap: 10px;
        button {
          width: 40px;
          height: 30px;
          text-align: center;
          border: none;
          border-radius: 8px;
          line-height: 3px;
          padding-bottom: 2px;
          background: map-get($map: $color, $key: accent);
          color: map-get($map: $color, $key: light);
          cursor: pointer;
        }
        span {
          font-size: 1.4rem;
          cursor: pointer;
        }
        input[type="range"] {
          width: 100px;
          height: 6px;
          border-radius: 8px;
          background: map-get($map: $color, $key: light);
          // form > input은 가진 속성값을 먼저 무력화 시켜줘야 함
          // 항상 form에 자식들은 더블 체크 해야함 > 특히 iphone
          appearance: none;
          // webkit : 크로스 브라우징까지 고려하겠다
          -webkit-appearance: none;
          &::-webkit-slider-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: map-get($map: $color, $key: accent);
            appearance: none;
            -webkit-appearance: none;
          }
        }
        .time {
          display: flex;
          gap: 8px;
          font-size: 1.4rem;
        }
      }
    }
  }
  // 마우스오버시 > 아래에서 bar 나오게
  &:hover .controls {
    & {
      transform: translateY(0);
    }
    & .progress .bar .circle {
      opacity: 1;
    }
  }
}
